nav {
    position: fixed;
    z-index: 99;
    background: #fff;
    z-index: 99;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 12px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    -webkit-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
    ul {
      width: 100%;
      display: grid;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;
      &:first-of-type {
        grid-template-columns: 1fr;
        li {
          font-size: 1.4rem;
          font-weight: bold;
          text-indent: 30px;
          span {
            font-weight: 500;
            color: #444;
          }
        }
      }
      &:last-of-type {
        grid-template-columns: repeat(3, 1fr);
      }
      li a {
        color: #111;
        text-decoration: none;
        font-weight: bold;
        display: block;
      }
    }
  }