.footer {
    background:#2e3033;
    color: #fff;
    padding: 20px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 80px;
    ul {
      list-style: none;     
      padding: 0;
      margin: 0;     
      justify-items: center;
      li a {
        color: #eee;
      }
    }
  }