@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

.quotetext {
    margin-top: 150px;    
    padding: 0;
    font-family: 'Marck Script', cursive;
    font-size: 4rem;
    color: rgba(184,157,79,1);
    text-align: center;
}
.text-name {
    float: right;
    margin-right: 70px;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 100px;
}