.button-box {
    text-align: center;
    margin-top: 80px;
    transition: all 80ms ease-in;
    .button-gold {
        background-color: #fff;
        border-color: rgba(184,157,79,1);
        padding: 10px 20px;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        border-radius: 0;
        cursor: pointer;
        &:hover {
            background-color: rgba(184,157,79,1);
        }
        & a {
            color: rgba(184,157,79,1);
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            &:hover {
                color: #fff;
            }
          .icon-arrow {
              padding-left: 15px;
              padding-right: 5px;
          }  
        }
       
        
    }
}