.about-content {   
    .gallery-photo {
        width: 450px;
        height: 400px;
        margin-top: 20px;
    } 
    .span-center {       
        text-align: left;
    }
    .block-title {
        margin-top: 0;
    }
}